*
{
    margin: 0;
    font-family: sans-serif;
}
.header
{
    width: 100%;
    height: 100vh;
    background-image: url(./image\ 7.png);
    color: white;
}
.box
{
    width: 100%;
    height: 100vh;
    
}
.div
{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}
.div1
{
    display: flex;
    align-items: center;
    gap: 50px;
}
.div1_1
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.xat
{
    border-bottom: 1px solid grey;
    
}
.none
{
    display: flex;
    align-items: center;
    gap: 50px;
}
.div1_2
{
    padding-left: 10%;
    margin-top: 130px;
}
.bigp
{
    font-size: 70px;
    font-weight: 600;
    width: 530px;
}
.background
{
    width: 150px;
    padding: 15px;
    height: 20px;
    background-color: #60C880;
    text-align: center;
    border-radius: 50px;
    margin-top: 30px;
}
.pwidth
{
    width: 450px;
    color: rgb(197, 197, 197);
    margin-top: 10px;
}
.pos
{
    position: relative;
    left: 85%;
}
.mainsection
{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 200px;
}
.left
{
    font-size: 40px;
    font-weight: 800;
    color: #60C880;
}
.flex
{
    display: flex;
    gap: 20px;
    align-items: center;
}
.bigp1
{
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}
.bigp2
{
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
    color: white;
}
.bigp1_1
{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}
.p
{
    width: 550px;
    color: grey;
    margin-top: 20px;
    line-height: 1.8;
}
.backgroundp
{
    width: 170px;
    padding: 10px;
    height: 20px;
    background-color: #60C880;
    border-radius: 50px;
    text-align: center;
    color: white;
    margin-top: 30px;
}
.section2
{
    margin-left: 10%;
    margin-top: 200px;
}
.bigp1_2
{
    font-size: 35px;
    font-weight: 600;
}
.bigp1_3
{
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
}
.pwidth1
{
    width: 750px;
    margin-top: 20px;
    color: gray;
}
.pwidth2
{
    width: 280px;
    margin-top: 10px;
    color: gray;
}
.flex1
{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}
.flex1_1
{
    display: flex;
    gap: 30px;
    border: 2px solid rgb(217, 217, 217);
    padding: 30px;
    width: 70%;
}
.flex1_2
{
    display: flex;
    gap: 30px;
    border: 2px solid rgb(217, 217, 217);
    padding: 30px;
    width: 70%;
    margin-top: 50px;
}
.pcolor
{
    color: #60C880;
    font-size: 20px;
    border-bottom: 2px solid #60C880;
    width: 220px;
    margin-top: 50px;
}
.section3
{
    width: 80%;
    height: 700px;
    background-color: #1B1E31;
    padding: 50px 10%;
    margin-top: 80px;
}
.backgrounddiv
{
    width: 330px;
    padding: 30px 30px;
    height: 200px;
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
}
.div2
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.top
{
    margin-top: 100px;
}
.section4
{
    margin-left: 10%;
    display: flex;
    gap: 100px;
    align-items: end;
    margin-top: 50px;
}
.davr
{
    width: 400px;
    height: 400px;
    background-color: #60C880;
    color: white;
    text-align: center;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: 50px;
}
.p1
{
    font-size: 30px;
    font-weight: 600;
    padding-top: 150px;
}
.backgroundimg
{
    background-image: url(./Ellipse\ 101.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    
}
.img3
{
    width: 80px;
    position: relative;
    bottom: 170px;
    right: 40px;
}
.img4
{
    width: 80px;
    position: relative;
    bottom: 440px;
    left: 120px;
}
.img5
{
    width: 80px;
    position: relative;
    top: 60px;
    left: 50px;
}
.img6
{
    width: 80px;
    position: relative;
    bottom: 180px;
    left: 210px;
}
.img7
{
    display: none;
}
.image1
{
    border: 1px solid rgb(214, 214, 214);
    padding: 5px;
    width: 180px;
}
.image2
{
    border: 1px solid rgb(214, 214, 214);
    padding: 5px;
    width: 180px;
}
.img8
{
    margin: auto;
}
.imgdiv
{
    display: flex;
    flex-wrap: wrap;
    padding-right: 10%;
    margin-top: 20px;
}
.section5
{
    padding-left: 10%;
    margin-top: 100px;
}
@media(max-width: 510px)
{
    .none
    {
        display: none;
    }   
    .bigp
    {
        font-size: 40px;
        width: 350px;
    }
    .pwidth
    {
        width: 270px;
    }
    .pos
    {
        left: 70%;
        width: 80px;
        top: 150px;
    }
    .xat
    {
        display: none;
    }
    .div1_2
    {
        margin-top: 50px;
        padding-left: 5%;
    }
    .background
    {
        width: 220px;
    }
    .mainsection
    {
        flex-direction: column;
        margin-left: 5%;
    }
    .p
    {
        width: 370px;
    }
    .img1
    {
        width: 90%;
        
    }
    .bigp1
    {
        font-size: 45px;
    }
    .bigp1_1
    {
        font-size: 45px;
    }
    .bigp1_2
    {
        font-size: 25px;
        width: 270px;
    }
    .pwidth1
    {
        width: 280px;
    }
    .flex1_1
    {
        width: 89%;
        padding: 20px;
    }
    .flex1_2
    {
        width: 89%;
        padding: 20px;
    }
    .section2
    {
        margin-left: 0px;
    }
    .img2
    {
        width: 50px;
    }
    .flex
    {
        margin-left: 5%;
    }
    .div2
    {
        flex-direction: column;
        margin-left: 5%;
    }
    .section3
    {
        padding: 0;
        width: 100%;
        height: 1780px;
        padding-top: 30px;
        margin-top: 50px;
    }
    .bigp2
    {
        margin-left: 5%;
    }
    .backgrounddiv
    {
        width: 300px;
    }
    .section4
    {
        flex-direction: column;
    }
    .davr
    {
        width: 300px;
        height: 300px;
    }
    .p1
    {
        padding-top: 100px;
        font-size: 25px;
    }
    .backgroundimg
    {
        display: none;
    }
    .img7
    {
        margin-right: 20px;
        margin-top: -50px;
    }
    .top
    {
        margin-top: 0;
    }
}


